@model Magicianred.LearnByDoing.MyBlog.Domain.Models.Post
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog post</h1>
    <p>Learn more <a href="@Url.Action("About", "Home")">about this project</a>.</p>
    @if (@Model != null)
    {
        <section class="post-details post-id-@(Model.Id)">
            <h2>@Model.Title</h2>
            <p>@Model.Text</p>

            <category class="tag-list">
             @foreach (var tag in Model.Tags)
             {
                <div class="tag-item tag-id-@(tag.Id)">
                 <h2><a href="@Url.Action("Tag", "Home", new { Id = tag.Id })">@tag.Name</a></h2>
                 <p>@tag.Description</p>
                </div>
             }
            </category>
        </section>
    }
    else
    {
        <article>
            <p>Post Not Found</p>
        </article>
    }
    <p>
        <a href="@Url.Action("Index", "Home")">Return to Home</a>
    </p>
</div>
